.card{
    border-radius: 10px;
    background-color: #3b0086
}

.saved-list{
    border-radius: 15px;
    background-color: #ea7af4
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}